@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply fixed z-20 flex w-full items-center justify-between border-b border-black/5 bg-white/5 px-[10vw] py-6 backdrop-blur-md;
  }

  main {
    @apply relative min-h-[100vh] w-full px-[10vw] pt-36;
  }

  footer {
    @apply w-full bg-black/80 px-[10vw] py-14;

    section {
      @apply flex flex-wrap items-center justify-between gap-20 border-b border-white/10 py-14 text-white/40;

      article {
        h2 {
          @apply mb-6 text-lg font-semibold text-white/80;
        }

        ul {
          @apply font-medium leading-loose;
        }

        &:last-child {
          @apply w-[25%] max_xl:w-[100%];

          p {
            @apply mb-8;
          }

          ul {
            @apply flex gap-4;

            li {
              @apply inline-block rounded bg-white/10 p-2 text-xs text-white;
            }
          }
        }
      }

      h2 {
        @apply font-orbitron text-2xl font-semibold tracking-wider text-white/60;
      }

      p {
        @apply text-base;
      }

      &:last-child {
        @apply border-none;
      }
    }
  }
}

@layer components {
  .btn {
    @apply inline-flex cursor-pointer items-center gap-1 rounded bg-black/80 px-4 py-2 text-white;
  }

  .numberStyle {
    @apply font-orbitron text-xl font-semibold tracking-wider text-black/80 max_sm:text-lg;
  }
}

/* scrollbar style */

::-webkit-scrollbar {
  /* 전체 스크롤 박스 넓이 */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* 스크롤바 트랙 영역 스타일 */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 1);
}